{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% comment %} <meta name="description" content="Name of your web site">
    <meta name="author" content="Marketify"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Nwachukwu Godisgreat | {% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/darkMode.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->

</head>

<body>
    
    <div class="waxon_tm_all_wrap" data-magic-cursor="hide" data-color="red">
        {% if request.user.is_superuser %}
        <div class="waxon_tm_settings">
            <div class="icon">
                <img class="svg" src="{% static 'img/svg/setting.svg' %}" alt="" />
                <a class="link" href="#"></a>
            </div>
            <div class="wrapper">
                <span class="title">Unlimited Colors</span>
                <ul class="colors">
                    <li><a class="blue" href="#"></a></li>
                    <li><a class="green" href="#"></a></li>
                    <li><a class="brown" href="#"></a></li>
                    <li><a class="pink" href="#"></a></li>
                    <li><a class="orange" href="#"></a></li>
                    <li class="bl"><a class="black" href="#"></a></li>
                    <li class="wh"><a class="white" href="#"></a></li>
                    <li><a class="purple" href="#"></a></li>
                    <li><a class="sky" href="#"></a></li>
                    <li><a class="cadetBlue" href="#"></a></li>
                    <li><a class="crimson" href="#"></a></li>
                    <li><a class="olive" href="#"></a></li>
                    <li><a class="red" href="#"></a></li>
                </ul>

                <span class="title">Magic Cursor</span>
                <ul class="cursor">
                    <li><a class="showme show" href="#"></a></li>
                    <li><a class="hide" href="#"><img class="svg" src="{% static 'img/svg/arrow.svg' %}" alt="" /></a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="waxon_tm_topbar">
            <div class="container">
                <div class="topbar_inner">
                    <div class="logo">
                        <a href="#">
                        <img src="{% static 'img/logo/dark.png' %}" alt="" />
                        </a>
                    </div>
                    <div class="menu">
                        <div class="links">
                            <ul class="anchor_nav">
                                <li class="{% block index %}{% endblock %}">
                                    <a href="{% url 'index' %}">
                                        <span class="first">Home</span>
                                        <span class="second">Home</span>
                                    </a>
                                </li>
                                <li class="{% block about %}{% endblock %}">
                                    <a href="{% url 'about' %}">
                                        <span class="first">About</span>
                                        <span class="second">About</span>
                                    </a>
                                </li>
                                <li class="{% block projects %}{% endblock %}">
                                    <a href="{% url 'project' %}">
                                        <span class="first">Projects</span>
                                        <span class="second">Projects</span>
                                    </a>
                                </li>
                                <li class="{% block contact %}{% endblock %}">
                                    <a href="{% url 'contact' %}">
                                        <span class="first">Contact</span>
                                        <span class="second">Contact</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="waxon_tm_mobile_menu">
            <div class="topbar_inner">
                <div class="container bigger">
                    <div class="topbar_in">
                        <div class="logo">
                            <a href="#"><img src="{% static 'img/logo/dark.png' %}" alt="" /></a>
                        </div>
                        <div class="my_trigger">
                            <div class="hamburger hamburger--collapse-r">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="dropdown">
                <div class="container">
                    <div class="dropdown_inner">
                        <ul class="anchor_nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'project' %}">Projects</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    {% block body %} {% endblock %}


        <div class="waxon_tm_copyright">
            <div class="container">
                <div class="copyright_inner">
                    <ul>
                        <li class="wow fadeInDown" data-wow-duration="0.8s">
                            <span>WAXON</span>
                            {% comment %} <span>PORTFOLIO TEMPLATE</span> {% endcomment %}
                        </li>
                        <li class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <span>Enugu,</span>
                            <span>Enugu State Nigeria, NIG</span>
                        </li>
                        <li class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <span><a href="{% url 'contact' %}">Nwaspecialg@gmail.com</a></span>
                            <span>+234 (0) 7032 0740 53</span>
                        </li>
                        <li class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.6s">
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="https://web.facebook.com/Nwachukwu.Godisgreat.997/">
                                        <span class="first"><img class="svg" src="{% static 'img/svg/social/facebook.svg' %}" alt="" /></span>
                                        <span class="second"><img class="svg" src="{% static 'img/svg/social/facebook.svg' %}" alt="" /></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                        <span class="first"><img class="svg" src="{% static 'img/svg/social/instagram.svg' %}" alt="" /></span>
                                        <span class="second"><img class="svg" src="{% static 'img/svg/social/instagram.svg' %}" alt="" /></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                        <span class="first"><img class="svg" src="{% static 'img/svg/social/youtube.svg' %}" alt="" /></span>
                                        <span class="second"><img class="svg" src="{% static 'img/svg/social/youtube.svg' %}" alt="" /></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
            
        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>
        

    </div>
  
    <script src="{% static 'js/jquery.js' %}"></script>
    <!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5bpEs3xlB8vhxNFErwoo3MXR64uavf6Y&callback=initMap"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>
</html>