{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block contact %} current {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<div class="waxon_tm_contact" id="contact">
    <div class="bg_image"></div>
    <div class="container">
        <div class="contact_inner">
            <div class="waxon_tm_main_title">
                <div class="title">
                <h3>Get in Touch<span class="bg">Contact</span></h3>
                </div>
            </div>
            <div class="desc">
                <p>Please fill out the form on this section to contact with me. Or call between 9:00 a.m. and 8:00 p.m. West Africa Time (WAT), Monday through Friday</p>
            </div>
            <div class="wrapper">
                <div class="left wow fadeInLeft" data-wow-duration="0.8s">
                    <form method="post" action=''>
                        {% csrf_token %}

                        {{ cform | crispy }}

                        <button type="submit" class="btn btn-outline-danger"><span>Send Message</span></button>
                    </form>  
            
                </div>
                {% comment %} <div class="right wow fadeInRight" data-wow-duration="0.8s">
                    <div class="map_wrap">
                        <div class="map" id="ieatmaps"></div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
