<div class="waxon_tm_modalbox_news">
    <div class="box_inner">
    <div class="close">
    <a href="#"><img class="svg" src="img/svg/cancel.svg" alt="" /></a>
    </div>
    <div class="description_wrap"></div>
    </div>
    </div>
    
    
    <div class="waxon_tm_modalbox_about">
    <div class="box_inner">
    <div class="close">
    <a href="#"><img class="svg" src="img/svg/cancel.svg" alt="" /></a>
    </div>
    <div class="description_wrap">
    <div class="my_box">
    <div class="left">
    <div class="about_title">
    <h3>Programming Skills</h3>
    </div>
    <div class="waxon_progress">
    <div class="progress_inner" data-value="95">
    <span><span class="label">Wordpress &amp; PHP</span><span class="number">95%</span></span>
    <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
    </div>
    <div class="progress_inner" data-value="80">
    <span><span class="label">Javascript &amp; React</span><span class="number">80%</span></span>
    <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
    </div>
    <div class="progress_inner" data-value="90">
    <span><span class="label">HTML &amp; CSS</span><span class="number">90%</span></span>
    <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
    </div>
    </div>
    </div>
    <div class="right">
    <div class="about_title">
    <h3>Language Skills</h3>
    </div>
    <div class="waxon_progress">
    <div class="progress_inner" data-value="95">
    <span><span class="label">English</span><span class="number">95%</span></span>
    <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
    </div>
    <div class="progress_inner" data-value="90">
    <span><span class="label">Japanese</span><span class="number">90%</span></span>
    <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
    </div>
    <div class="progress_inner" data-value="85">
    <span><span class="label">Arabian</span><span class="number">85%</span></span>
    <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
    </div>
    </div>
    </div>
    </div>
    <div class="counter">
    <div class="about_title">
    <h3>Fun Facts</h3>
    </div>
    <ul>
    <li>
    <div class="list_inner">
    <h3>777+</h3>
    <span>Projects Completed</span>
    </div>
    </li>
    <li>
    <div class="list_inner">
    <h3>3K+</h3>
    <span>Happy Clients</span>
    </div>
    </li>
    <li>
    <div class="list_inner">
    <h3>9K+</h3>
    <span>Lines of Code</span>
    </div>
    </li>
    </ul>
    </div>
    <div class="partners">
    <div class="about_title">
    <h3>Our Partners</h3>
    </div>
    <ul class="owl-carousel">
    <li class="item"><a href="#"><img src="img/partners/1.png" alt="" /></a></li>
    <li class="item"><a href="#"><img src="img/partners/2.png" alt="" /></a></li>
    <li class="item"><a href="#"><img src="img/partners/3.png" alt="" /></a></li>
    <li class="item"><a href="#"><img src="img/partners/4.png" alt="" /></a></li>
    <li class="item"><a href="#"><img src="img/partners/5.png" alt="" /></a></li>
    <li class="item"><a href="#"><img src="img/partners/6.png" alt="" /></a></li>
    <li class="item"><a href="#"><img src="img/partners/7.png" alt="" /></a></li>
    <li class="item"><a href="#"><img src="img/partners/8.png" alt="" /></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>